<div class="w-full h-screen">
  <div class="relative h-3/5 w-full bg-blue-500 flex flex-col items-center mb-32">
    <h1 class="my-5 font-bold text-white text-5xl">Snap & Sync Calendar</h1>
    <h3 class="font-semibold text-white text-lg">Dites adieu aux horaires papier : prenez une photo et ajoutez-les automatiquement à votre agenda Google.</h3>
    <div class="flex gap-20 absolute -bottom-20">
      <%= image_tag "smartphone_1.png", class: "smartphone" %>
      <%= image_tag "smartphone_2.png", class: "smartphone" %>
      <%= image_tag "smartphone_3.png", class: "smartphone" %>
    </div>
  </div>
  <div class="flex justify-center gap-10">
    <%= render "devise/shared/links" %>
    <button class="flex items-center justify-center w-fit overflow-hidden gap-2 bg-blue-500 rounded-md shadow-lg border border-solid border-blue-500 hover:scale-110">
      <%= image_tag "youtube.svg", class: "flex justify-center p-3 bg-white" %>
      <div class="p-4">
        <p class="text-white text-lg font-semibold">Voir la démonstration</p>
      </div>
    </button>
  </div>
</div>
